:root {
  --color-primary: #efe2e2;
  /* --color-primary: #f4eaeac7; */
  --color-secondary: #f0f0f0;
}

*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.cycle-mov{
  position: relative;
  top: 14px;
  left: 100px;
  width: 100px;
  height: 50px;
  /* background-color: #cf2a2a; */
  z-index: -1;
}
.main-container{
  background-color: #fafafa;
}
.banner-section {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: url('./images/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; 
}
.heading-section {
  position: sticky;
  top: 0;
  background-color: var(--color-secondary);
  /* background-color: aqua; */
  /* padding: 20px; */
  z-index: 10000000;
  /* text-align: center; */
  box-sizing: border-box;
  /* border-radius: 10px; */
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 80px;
  /* width: 100px; */
  /* border-bottom: 2px solid #dddddd; */
}
.logo-heading{
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 80px;
  /* background-color: blueviolet; */
}
.heading-logo-img{
  margin-left: -60px;
  margin-top: -35px;
  padding: 0px;
  width: 300px;
  height: 150px;

}



/* .animation-path::before {
  content: "→";
  position: absolute;
  left: 25%;
  top: 10px;
  font-size: 1.5rem;
  color: #007bff;
}

.animation-path::after {
  content: "→";
  position: absolute;
  left: 75%;
  top: 30px;
  font-size: 1.5rem;
  color: #007bff;
  transform: rotate(-45deg);
} */
.input-sections {
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
  margin-top: 20px;
  z-index: 999;
  width: 600px; 
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.para-section{
  color: black;
  padding: 10px;
  /* background-color: turquoise; */
  margin-left: 35px;
  width: 94%;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.para-heading{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  left: 10px;
}
.para-text{
  padding: 10px;
  font-size: 15px;
  /* font-weight: bold; */
  color: black;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  /* letter-spacing: 2px; */
}
.input-heading{
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.input-text{
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-label {
  width: 100%;
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
}

.input-1,
.input-2,
.input-3 {
  /* padding-top: 60px; */
  background-color: #f0f0f0;
  padding: 15px 35px;
  border-radius: 10px;
  font-size: 19px;
  width: 100%;
  /* margin-top: 10px; */
  box-sizing: border-box;
  border: 1px solid #007bff;
  outline: none;
}

.input-1:focus,
.input-2:focus,
.input-3:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  margin-left: 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

.output-section {
  position: absolute;
  left: 97%;
  transform: translateX(-100%);
  margin-top: 20px;
  z-index: 999;
  /* background-color: var(--color-secondary); */
  width: 570px;
  /* min-height: 420px;  */
  height: 600px ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.output-text {
  background-color: #007bff;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.zone-heading {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
  /* text-align: center; */
  
}

.list-group {
  list-style: none;
  padding: 0;
  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  letter-spacing: 2px;

}

.list-group-item {
  font-size: 22px;
  /* font-weight: bold; */
  /* padding: 12px 10px; */
  padding: 15.1px;
  border-top: 1px solid #ccc;
}

.list-group-item:last-child {
  border-bottom: 1px solid #ccc;
}


/* nave-section is starting */
.stats-bar {
  /* border-radius: 10px; */
  width: 94.6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  position: relative;
  top: 650px;
  left: 32px;
  padding: 20px 40px;
  font-size: 18px;
  /* font-family: 'Segoe UI', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  flex-wrap: wrap;
  gap: 20px;
  /* width: 97%; */
}

.stat {
  display: flex;
  align-items: center;
  gap: 10px;
}

.highlight {
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
}

.text {
  color: #dddddd;
  font-size: 18px;
}

.stars {
  color: gold;
  font-size: 22px;
  letter-spacing: 2px;
}

.rating-score {
  font-size: 17px;
  color: #cccccc;
}

.reviews {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-left: 5px;
}

.platforms {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.platforms span {
  font-size: 18px;
  color: #ffffff;
}

.platform-icon {
  height: 24px;
  width: auto;
  margin-left: 8px;
}


.para-3-section{
  color: black;
  padding: 10px;

  /* background-color: turquoise; */
  margin-left: 35px;
  /* width: 94%; */
  position: relative;
  top: 66px;
  /* border-radius: 10px; */
  margin-bottom: 20px;
  margin-top: 20px;
  /* border: 2px solid black; */
  box-shadow: 5px 8px  4px 8px rgba(0, 0, 0, 0.1);
  width: 99.5%;
  left: -8px;
}
.para-3-heading{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  left: 10px;
  /* text-align: center; */
  /* align-items: center; */
  margin-bottom: 15px;
  margin-top: 15px;
}
.para-text-3{
  padding: 20px;
  font-size: 15px;
  /* font-weight: bold; */
  /* border-radius: 10px; */
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.para-1-img-1-1{
  color: white;
  position: relative;
  top: 70px;
  left: 30px;
  width: 500px;
  height: 400px;
  /* color: red; */
}
.para-1-img-heading{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  left: 10px;
  /* text-align: center; */
  /* align-items: center; */
  margin-bottom: 15px;
  margin-top: 15px;
  color: red;
}
.para-1-img-text{
  padding: 10px;
  font-size: 15px;
  /* font-weight: bold; */
  /* color: black; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  /* letter-spacing: 1px; */
}
.para-1-img{
  color: white;
  position: absolute;
  top: 1280px;
  display: flex;
  left: 30px;
  width: 95%;
  border-radius: 10px;
  height: 400px;
  background-color: #222;
}
.paragarph-section{
  position: absolute;
  top: 1650px;
  width: 95%;
  left: 0.5%;
}
.footer{
  position: absolute;
  top: 2980px;
  left: 0.5%;
  /* bottom: 20px; */
  /* width: 95%; */
  height: 170px;
  width: 94.7%;
  left: 31px;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* margin-bottom: 100px; */
}
.logo{
  position: absolute;
  left: 40px;
  width: 390px;
  height: 160px;
}
.footer-text{
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 60px;
  margin-left: 550px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}








